{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Timothy Portfolio
{% endblock title %}

{% block content %}
<main class="main">
  <!-- ============================
    Home 
    ============================ -->



  <section class="section" id="home">
    <div class="home-container container grid">

      <div class="avatar-container">
        <div class="avatar-blob">
          <img class="avatar-image" src="{% static 'img/avatar.svg' %}" alt="Avatar Image">
        </div>
      </div>


      <div class="home-data">
        <h1 class="home-title">Hi, I'm Timothy</h1>
        <p class="home-description">
          I'm a 23-year-old who develops for fun. I started learning how to program a
          year ago by reading books on HTML, CSS, JavaScript, and Python.
        </p>
        <p class="home-description"> My passion for web development led me to
          create this website to showcase my portfolio
        </p>


        <div class="home-buttons">
          <a download="" href="{% static 'pdf/cv.pdf' %}" class="button">
            Download CV<i class="uil uil-download-alt button-icon"></i></a>
          <a href="#contact" class="button ">
            Contact Me <i class="uil uil-message button-icon"></i>
          </a>
        </div>
      </div>

    </div>
    <div class="home-scroll">
      <a href="#portfolio" class="home-scroll-button">
        <i class="uil uil-mouse-alt home-scroll-mouse"></i>
        <span class="home-scroll-name">Scroll Down</span>
        <i class="uil uil-arrow-down home-scroll-arrow"></i>
      </a>
    </div>
  </section>

  <!-- ============================
  Portfolio
  ============================ -->
  <section class="portfolio section" id="portfolio">
    <h2 class="section-title">Portfolio</h2>
    <span class="section-subtitle">Latests projects</span>



    <div class="container project-container">

      {% for post  in posts  %}
      <div class="project-card">
        <div class="project-card-img">
          <a href="{% url 'post_detail' post.slug %}">
            <img src="{{ post.img }}" alt="">
          </a>
          <span class="project-card-date">
            {{post.created_at|date:'M d, Y'}}
          </span>
        </div>
        <div class="project-card-content">
          <div class="project-card-tag">
            <a href="#" class="tag"><i class="fab fa-html5 portfolio-language-icon"></i></a>
            <a href="#" class="tag"><i class="fab fa-css3-alt portfolio-language-icon"></i></a>
            <a href="#" class="tag"><i class="fab fa-python portfolio-language-icon"></i></a>
          </div>
          <h3 class="project-card-title">
            <a href="{% url 'post_detail' post.slug %}">
              {{ post.title }}
            </a>
          </h3>
          <p>{{post.intro|truncatechars:150}}</p>
        </div>
      </div>
      {% endfor %}

    </div>
  </section>
  {% endblock content %}